#!{{ lookPath "bash" }}

installWallpaperGenerator() {
    if [ -f {{ .chezmoi.homeDir }}/.local/bin/wallpaper-generator-cli ]; then
            echo "wallpaper-generator-cli appears to already be installed..."
	else
	    git clone https://github.com/MicahBird/wallpaper-generator-cli-cpp.git
	    cd wallpaper-generator-cli-cpp
	    make -j $(nproc)
	    mv -f wallpaper-generator-cli {{ .chezmoi.homeDir }}/.local/bin/wallpaper-generator-cli
	    chmod +x {{ .chezmoi.homeDir }}/.local/bin/wallpaper-generator-cli
	    cd $TEMP_DIR
        fi
}

# Clone repos of programs that need to be built
TEMP_DIR=$(mktemp -d)
cd $TEMP_DIR

{{ if eq .chezmoi.os "linux" -}}

installWallpaperGenerator

{{ else if eq .chezmoi.os "android" -}}

pkg update

installBase() {
    pkg install -y \
        clang \
        git \
        make \
        termux-api \
        vim \
        lf \
        k9s \
        python \
        python-pip \
        which \
        file 
     python3 -m pip install --user pipx
     pipx install buku
}

echo "Do you to install everything? (y/n): "
read user_input

# Check the user's input and proceed accordingly
if [[ $user_input == "y" ]]; then
    echo "Installing All Packages..."
    pkg install -y \
        neovim \
        fzf 
    installBase
    installWallpaperGenerator
else
    echo "Installing Minimal Packages..."
    installBase
    installWallpaperGenerator
fi

# Cleanup packages that are no longer needed
pkg remove clang make -y

{{ else if eq .chezmoi.os "darwin" -}}
# TODO

{{ end -}}

echo "Script finished successfully."
