#!/usr/bin/env bash
set -e
{{ if ne .chezmoi.os "windows" }}
installWallpaperGenerator() {
    if [ -f {{ .chezmoi.homeDir }}/.local/bin/wallpaper-generator-cli ]; then
            echo "wallpaper-generator-cli appears to already be installed..."
	else
        # Clone repos of programs that need to be built
        TEMP_DIR=$(mktemp -d)
        cd $TEMP_DIR
	    git clone https://github.com/MicahBird/wallpaper-generator-cli-cpp.git
	    cd wallpaper-generator-cli-cpp
	    make -j $(nproc)
	    mv -f wallpaper-generator-cli {{ .chezmoi.homeDir }}/.local/bin/wallpaper-generator-cli
	    chmod +x {{ .chezmoi.homeDir }}/.local/bin/wallpaper-generator-cli
	    cd $TEMP_DIR
        fi
}

install_on_fedora() {
    sudo dnf install -y ansible
}

install_on_nixos(){
    # Just link the configuration.nix to be in /etc/nixos/configuration.nix
    echo "Linking and removing current nixos config"
    sudo rm /etc/nixos/configuration.nix
    sudo ln -s {{ joinPath .chezmoi.sourceDir "dot_nixos/configuration.nix" | quote }} /etc/nixos/configuration.nix
    exit 0
}

install_on_ubuntu() {
    sudo apt-get update
    sudo apt-get install -y python3 python3-pip ansible
    # Ansible in the default repos is not up to date enough to use flatpak module; Install via pip:
    # export PATH="$PATH:$HOME/.local/bin"
    # pip3 install ansible
}

if [ -f /etc/fedora-release ]; then
    install_on_fedora
elif [ -f /etc/NIXOS ]; then
    install_on_nixos
elif [ -f /etc/lsb-release ]; then
    install_on_ubuntu
else
    echo "Unsupported Linux distribution"
    exit 1
fi


echo "Ansible installation complete."
ansible-galaxy collection install community.general
ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_setup/setup.yml" | quote }} --ask-become-pass
installWallpaperGenerator
{{ else }}
# Windows case
winget dsc --accept-configuration-agreements -f {{ joinPath .chezmoi.sourceDir "dot_setup/setup-winget.yaml" | quote }}
# winget is tempermental so always just exit 0
exit 0
{{ end }}
