#!/bin/sh

[ -f ~/.config/shell/personal ] && source ~/.config/shell/personal

# Verbosity and settings that you pretty much just always are going to want.
alias \
	cp="cp -iv" \
	mv="mv -iv" \
	rm="rm -vI" \
	bc="bc -ql" \
	rsync="rsync -vrPlu" \
	mkd="mkdir -pv" \
	yt="yt-dlp --embed-metadata -i" \
	yta="yt -x -f bestaudio/best" \
	ytt="yt --skip-download --write-thumbnail" \
	ffmpeg="ffmpeg -hide_banner"

# Colorize commands when possible.
alias \
	ls="ls -h --color=auto" \
	grep="grep --color=auto" \
	diff="diff --color=auto" \
	ccat="highlight --out-format=ansi" \
	ip="ip -color=auto"

# These common commands are just too long! Abbreviate them.
alias g="git" \
        trem="transmission-remote" \
        YT="youtube-viewer" \
        sdn="shutdown -h now" \
        e="$EDITOR" \
        v="$EDITOR" \
        ll="ls -lah" \
        icat="kitty +kitten icat" \
        ip="ip -c" \
        kssh="kitty +kitten ssh" \
        chezcd="cd {{.chezmoi.sourceDir}}" \
        mvim="nvim -u ~/.config/nvim/minimal.lua" \
        wvim="nvim -u ~/.config/nvim/winit.lua" \
        note='f() { wvim "$(date "+%m-%d-%y")-$1.md"; unset -f f; }; f' \
        nivm="nvim"

# git repo analysis tools
alias what-changes="echo 'What changes a lot?' && git log --format=format: --name-only --since='1 year ago' | rg -v 'po$|json$|desktop$' | sort | uniq -c | sort -nr | head -20"
alias what-breaks="echo 'What breaks a lot?' && git log -i -E --grep='fix|bug|broke|bad|wrong|incorrect|problem' --name-only --format='' | sort | uniq -c | sort -nr | head -20"
alias emergencies="echo 'And what were the emergencies?' && git log --oneline --since='1 year ago' | grep -iE 'revert|hotfix|emergency|urgent|rollback'"
alias momentum="echo \"What's the project's momentum over the past 5 years?\" && git log --format='%ad' --date=format:'%Y-%m' | sort | uniq -c | tail -n 60"
alias maintainers-recently="echo \"Who's been driving this project in the past year?\" && git shortlog -sn --no-merges --since='1 year ago' | rg -v 'l10n daemon script' | head -n 30"
alias maintainers-alltime="echo 'And what about for all time?' && git shortlog -sn --no-merges | rg -v 'l10n daemon script' | head -n 30"
function repo-analysis {
    what-changes
    echo
    what-breaks
    echo
    emergencies
    echo
    momentum
    echo
    maintainers-recently
    echo
    maintainers-alltime
}
