#!/bin/zsh

# profile file. Runs on login. Environmental variables are set here.

# If you don't plan on reverting to bash, you can remove the link in ~/.profile
# to clean up.

{{ if eq .chezmoi.os "darwin" }}
# Adds `~/.local/bin`, Homebrew, and Pip Packages to $PATH
export PATH="$PATH:$HOME/.local/bin:/opt/homebrew/bin:${$(find ~/Library/Python -type d -name "bin"
)}"
{{ else if eq .chezmoi.os "linux" }}
# Adds `~/.local/bin` to $PATH
export PATH="$PATH:${$(find ~/.local/bin -type d -printf %p:)%%:}"
{{ else }}
# Adds `~/.local/bin` to $PATH
export PATH="$PATH:$HOME/.local/bin"
{{ end }}

unsetopt PROMPT_SP

# Default programs:
export EDITOR="nvim"
export TERMINAL="kitty"
# VISUAL uses minimal vim config
export VISUAL="nvim -u ~/.config/nvim/minimal.vim -c 'nnoremap q :wq<CR>'"

# ~/ Clean-up:
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export ANDROID_SDK_HOME="$XDG_CONFIG_HOME/android"
export ANSIBLE_CONFIG="$XDG_CONFIG_HOME/ansible/ansible.cfg"
export HISTFILE="$XDG_DATA_HOME/history"
{{ if eq .chezmoi.osRelease.name "NixOS" }}
source "$HOME/.config/zsh/.zshrc"
{{ end }}